@font-face{
	font-family: 'MullerRegular';
	src: url('fonts/Fontfabric - MullerRegular.otf') format('truetype');
	font-weight: normal;
}
@font-face{
	font-family: 'MullerBold';
	src: url('fonts/Fontfabric - MullerBold.otf') format('truetype');
	font-weight: bold;
}
:root {
	--main_color: #41c9f8;
	--acsent_color: #ffca00;
}
html {
	scroll-behavior: smooth;
}
body 
{
	overflow-x: hidden;
}
a { 
	text-decoration: none;
	cursor: pointer;
	color: inherit;
} 
h1 {
	font-family: 'MullerBold';
	font-size: 24px;
	margin: 20px 0;
	text-transform: uppercase;
	text-align: center;
}
h1::after {
	content: '';
    display: block;
    background-color: var(--acsent_color);
    width: 40px;
    height: 4px;
    margin: 20px auto;
}
h2 {
	font-size: 22px;
	font-family: 'MullerBold';
}
h3 {
	font-family: 'MullerBold';
	font-size: 18px;
}
p {
	font-family: 'MullerRegular';
	font-size: 16px;
}
form label,
form input,
form textarea {
	font-size: 14px;
	font-family: 'MullerBold';	
	border: none;
	display: block;
	width: 100%;
}
form button{
    background-color: var(--acsent_color);
	border-radius: 25px;
	color: #212529;
	border: none;
    cursor: pointer;
	transition: all 0.2s;
	padding: 5px;
}
form button:hover {
    color: var(--main_color);
	background-color: #e2e6ea;
}
form label {
	margin: 10px 0;
}
span {
	color: var(--acsent_color);
}
span.alt {
	color: var(--main_color);
}
img {
	margin: 5px;
}
section {
    padding: 20px 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
nav{
	color:white;
	background-color: #353232;
}
.navbar-nav > li.nav-item > a.nav-link{
	color:white;
	transition: all 0.2s;
	text-transform: uppercase;
	font-size: 12px;
}
.navbar-nav > li.nav-item > a.nav-link:hover {
    color: #41c9f8 !important;
}
.navbar-toggler {
	border: none;
	outline: none !important;
}
.contact_info {
	font-size: 14px;
}
.promo-carousel .carousel-indicators li {
	border-radius: 50%;
    width: 15px;
    height: 15px;
    background: none;
    border: 2px solid white;
}
.carousel-indicators .active {
	background-color: #fff !important;
}
.promo-carousel .carousel-item {
	height: 70vh;
}
.promo-carousel {
	margin: -5px;
}
.carousel-item img {
	object-fit: cover;
	min-height: 100%;
	width: 100%;
	mix-blend-mode: multiply;
}
.carousel-item svg {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-caption {
	height: 100%;
}
h2.promo-title {
    font-size: 70px;
    margin: 10vh 0 2vh 0;
}

p.promo-description {
    font-size: 45px;
}

p.promo-mark {
	font-size: 14px;
	position: absolute;
    bottom: 1vh;
}
h2.promo-title,
p.promo-description,
p.promo-mark {
	text-transform: uppercase;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5), -1px -1px 5px rgba(0,0,0,0.5);
}
#contacts {
	background-color: #f2f2f2;
}
.question_form{
	background-image: url(img/background_form.png);
}
footer{
	background-color: #353232;
	color: white;
	padding: 40px 0;
}
footer h3 {
	font-family: 'MullerRegular';
	font-weight: bold;
	font-size: 16px;
}
.icon {
	width:35px;	
	height: 35px;
}
.active_scrol {
	border-bottom: 4px solid;
	color: var(--main_color) !important;
}
.active_scrol a {
	color: var(--main_color) !important;
}

@media (max-width: 1200px) {
	h2.promo-title {
		font-size: 55px;
	}
	
	p.promo-description {
		font-size: 30px;
	}

}

@media (max-width: 992px) {

}

@media (max-width: 576px) {
	h2.promo-title {
		font-size: 35px;
	}
	
	p.promo-description {
		font-size: 20px;
	}
	p.promo-mark {
		font-size: 12px;
	}
}